body, html {
      padding-top: 50px;
      height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.joeypetosa.com/cover_qa.png');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Customize the button */
.hero-text [type=button] {
  border: none;
  border-radius: var(--radius);
  outline: 0;
  display: inline-block;
  padding: 12px 20px;
  color: var(--primary);
  background-color: var(--tertiary);
  text-align: center;
  cursor: pointer;
} 

/* When moving the mouse over the submit button, add a darker green color */
.hero-text [type=button]:hover {
  background-color: var(--secondary);
}